<div class="container my-4 divider-container">
  <!-- First Row with 3 Columns -->
  <h5 class="fw-bold mb-3 py-1">Business Apps</h5>
  <div class="row ">
    <!-- Vertical Divider Section -->
    <div class="col-4 border-end py-3">
      <h6 class="fw-bold mb-3">Web Apps</h6>
      <ul class="list-unstyled">
        <li class="section-item"><a href="https://example.com/link1" target="_blank"><span class="icon">🏠</span> Sivamoorthy Rentals</a></li>
        <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">🏠</span> Abishek Rentals</a></li>
        <li class="section-item"><a href="https://example.com/link3" target="_blank"><span class="icon">🔗</span> Queue Tracker Systems</a>
        </li>
        <li class="section-item"><a href="https://example.com/link4" target="_blank"><span class="icon">📦</span> Inventory Management Systems</a>
        </li>
      </ul>
    </div>
    <div class="col-4 border-end py-3">
      <h6 class="fw-bold mb-3">Machine Learning Apps</h6>
      <ul class="list-unstyled">
        <li class="section-item"><a href="https://example.com/link1" target="_blank"><span class="icon">🤖</span> Sentiment Analyser</a></li>
        <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">📊</span> Budget Planner/ Expense
          Predictor</a></li>
        <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">📊</span> House market Predictor</a>
        </li>
      </ul>
    </div>
    <div class="col-4 py-3">
      <h6 class="fw-bold mb-3">Embedded Systems</h6>
      <ul class="list-unstyled ">
        <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">🌱</span> Tapico Planting Machine</a>
        </li>
        <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">🚜</span> Farm ATV</a></li>
      </ul>
    </div>
  </div>
  <div class="row py-5"> <!-- Horizontal Divider -->

    <h5 class="fw-bold mb-3">Standalone Apps</h5>
    <ul class="list-unstyled">
      <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">🌱</span> Budget Analyser</a></li>
      <li class="section-item"><a href="https://example.com/link2" target="_blank"><span class="icon">🚜</span> PDF Merger</a></li>
    </ul>
  </div>
  <div class="row border-bottom"><!-- Horizontal Divider -->
    <h5 class="dropdown-header">Owner: Prabhukumar Sivamoorthy</h5>
  </div>
</div>