 /* Full Page Dark Green Gradient Background */
        body {
            background: linear-gradient(to bottom, #010d08, #01120b);
            color: rgba(255, 255, 255, 0.8) !important;
            min-height: 100vh;
            margin: 0;
            font-family: 'Poppins', sans-serif;
            will-change: transform;
        }


        html {
          scroll-behavior: smooth;
        }
