{% extends 'base.html' %}

{% block title %}Prabhukumar Sivamoorthy{% endblock %}

{% block content %}

<div class="container " id="header_" >
    <h4 id="header_">  <a class="navbar-brand mb-0 h1 d-flex align-items-center" href="{{ url_for('home') }}">

            <span class="fw-bold"><i class="fas fa-laptop-code me-2"></i><u><b>P</b></u>rabhukumar <u><b>S</b></u>ivamoorthy</span>
        </a> </h4>
			<h1 class="fw-bold text-light" >Get In Touch / <spam class="text-warning">Ping me</spam></h1>
{{ render_form(form, novalidate=False) }}

</div>
{% endblock %}