<div class="container my-4 divider-container">
    <h4 class="fw-bold text-center pb-2">Patents</h4>
    <ul class="list-unstyled section-list">
        <!-- Patent 1 -->
        <li class="section-item">
            <div class="section-details">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Seal_of_the_United_States_Patent_and_Trademark_Office.svg" alt="USA Patent Logo" class="section-logo">
                <div class="section-info">
                    <span class="section-name">Non-Destructive LBA Formatted Size Change Using Format Command </span>
                    <span class="section-domain">NVMe, PCIe, SSD, Storage Devices</span>
                </div>
            </div>
            <div class="section-right">
                <span class="section-status">Submitted</span>
                <img src="https://www.logo.wine/a/logo/SanDisk/SanDisk-Logo.wine.svg" alt="SanDisk Logo" class="company-logo">
            </div>
        </li>

        <!-- Patent 2 -->
        <li class="section-item">
            <div class="section-details">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Seal_of_the_United_States_Patent_and_Trademark_Office.svg" alt="USA Patent Logo" class="section-logo">
                <div class="section-info">
                    <span class="section-name">* * * * * * *</span>
                    <span class="section-domain">NVMe, PCIe, SSD, Storage Devices</span>
                </div>
            </div>
            <div class="section-right">
                <span class="section-status">Confidential</span>
                <img src="https://www.logo.wine/a/logo/SanDisk/SanDisk-Logo.wine.svg" alt="SanDisk Logo" class="company-logo">
            </div>
        </li>
    </ul>
</div>
