{% extends 'base.html' %}

{% block title %}Prabhukumar Sivamoorthy {% endblock %}

{% block content %}
    {% include 'nav_bar/nav_bar.html' %}
 <!-- Hero Section -->
    <section class="hero-section">
        <h1>Welcome to My Portfolio</h1>
    </section>

    <!-- Other Sections (Example) -->
    <section id="about" style="height: 100vh; background: rgba(255, 255, 255, 0.05);"></section>
    <section id="projects" style="height: 100vh; background: rgba(255, 255, 255, 0.08);"></section>
    <section id="contact" style="height: 100vh; background: rgba(255, 255, 255, 0.1);"></section>


{% endblock %}