<footer id="header_" class="footer">
    <div class="footer-container">
        <div class="footer-column ">
            <h3> <a href="https://github.com/InnovBotics-Labs"><i class="fab fa-github fa-2x"></i> InnovBotics Labs</a></h3>
            <h6>Innovate | Automate | Transform</h6>
            <p style=" text-align: justify;">A creative space for innovation and hobby-driven
                projects. Specializing in robotics, AI, IoT, and automation, we develop cutting-edge solutions that
                merge
                technology with real-world applications.</p>
        </div>

        <div class="footer-column">
            <h3>Connect with me: 🤝</h3>
            <ul>
                <li><a href="https://github.com/PrabhukumarSivamoorthy"><i class="fab fa-github fa-2x"></i> Github </a></li>
                <li><a href="https://www.linkedin.com/in/prabhukumarsivamoorthy"><i class="fab fa-linkedin fa-2x"></i> Linked-in</a></li>
                <li><a href="https://stackoverflow.com/users/26809936/prabhu"><i class="fab fa-stack-overflow fa-2x"></i> Stack-Overflow</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <ul>
                <li>Phone: (123) 456-7890</li>
                <li>Email: prabhukumarsivamoorthy@gmail.com</li>
                <li>Address: Milpitas, CA, United States</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Prabhukumar Sivamoorthy. All Rights Reserved. <a href="#">Privacy Policy</a></p>
    </div>
</footer>