{% extends 'base.html' %}

{% block title %}Prabhukumar Sivamoorthy{% endblock %}

{% block content %}
<!-- Particles Background -->
<div id="particles-js" class="fixed inset-0 z-0"></div>

<!-- Navbar -->
{% include 'nav_bar/nav_bar.html' %}

<!-- Hero Section -->
{% include 'section/hero_section.html' %}

<!-- Career Milestones Section -->
<section id="Profession" class="relative z-10 py-20">
    {% include "nav_bar/profession.html" %}
</section>

<!-- Contact Section -->
<section id="contact" class="relative z-10 py-16">
    {% include "section/contact.html" %}
</section>

<!-- Footer Section -->
{% include "section/footer.html" %}

<!-- Sliding Panels -->
{% include 'nav_bar/sliding_panels.html' %}
{% endblock %}